
.bodygeralcadastrarvagas {
    box-sizing: border-box;
}

.bodycadastrarvagas {
    font-family: "nunito";
}

.containercadastrarvagas {
    width: 30%;
    margin: 50px auto;
}

.h1cadastrarvagas {
    text-align: center;
    color:#530084;
    font-size: 50px;
    margin-bottom: 30px;
}

.inputBoxcadastrarvagas 
{
    margin-bottom: 20px;
}

.labelcadastrarvagas
{
    display: inline-block;
    margin-bottom: 5px;
    color:#530084;
    border-bottom: 2px solid gold;

}

.inputcadastrarvagas
{
width: 100%;
padding: 10px 20px;
background-color:#EFEFEF;
color:#530084;
border: none;
border-radius: 15px;
font-family: "nunito";
font-size: 12pt;
}

.inputcadastrarvagas::placeholder 
{
    color:#530084;
}

.button
{
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    background-color:gold;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: "nunito";
}