:root {
  --roxo-padrao: #530084;
  --roxo-hover: #280044;
  --amarelo-padrao: #F3C42E;
  --amarelo-hover: #F89F4F;
  --branco-padrao: #FFFFFF;
  --preto-padrao: #000000;
  --cinza-claro-fundo: #EFEFEF;
  --cinza-fundo: rgba(196, 196, 196, 0.4);
  --shadow-black: rgba(0, 0, 0, 0.1);
  --shadow-green: #347601;
  --shadow-yellow: #EAD200;
  --shadow-red: #760101;
}

@font-face {
  font-family: 'nunito';
  src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'nunito-bold';
  src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'nunito-semibold';
  src: url('../fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'nunito-italic';
  src: url('../fonts/Nunito-Italic.ttf');
}

body {
  font-size: 20px;
  color: var(--roxo-padrao);
  background-position: center;
  padding-top: 75px;
  /* distÃ¢ncia do nav fixo */
  position: relative;
  padding-bottom: 122px;
  /* distÃ¢ncia do footer */
  min-height: auto;
}

/* Navbar */
nav {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  margin-left: auto;
}

.nav-item a {
  font-size: 16px;
  color: #280044;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: none;
}

/* Fim Navbar */

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  background: #530084 0% 0% no-repeat padding-box;
  width: 100%;
  color: white;
  padding: 33px 0 33px;
  font-family: 'nunito';
  margin-top: 15px;
}

footer a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: 'nunito';
}

footer a:hover {
  color: #F3C42E;
}

footer .copyright {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
  font-family: 'nunito';
}

/* Fim Footer */

/* Início Formulário */
h1, h2 {
  font-family: 'nunito-bold';
  color: var(--roxo-padrao);
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;

}

.bodyCadastroCurriculo {
  margin-top: 25px;
  text-align: center;
}

.bodyVagaExpandida {
  margin-top: 25px;
}

.bodyHubVagas {
  margin-top: 25px;
  text-align: center;
}



.bodyVagaExpandida h1 {
  color: var(--roxo-padrao);
  text-align: start;
  margin-bottom: 25px;
}
.img-perfil {
  width: 100%;
}

.inputDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2px;

}

.listaInputs {
  display: flex;
  justify-content: center;
}

.textGeneralInput {
  font-family: 'nunito-semibold';
  font-weight: bold;
  font-size: 17pt;
  float: left;
}

.generalInput {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background-color: var(--cinza-claro-fundo);
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  padding-left: 20px;
  color: var(--roxo-padrao);
  font-size: 14pt;
  border: 2px solid var(--roxo-padrao);
}

.neededInput {
  color: #F3C42E;
}

.generalInput::placeholder {
  font-family: 'nunito-italic';
  font-size: 14pt;
  font-style: normal;
  color: #280044;
}

.fa-user, .fa-graduation-cap, .fa-briefcase, .fa-puzzle-piece, .fa-info-circle {
  color: var(--roxo-padrao);
  font-size: 30px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.titulo-dados-pessoais {
  font-family: "nunito-bold";
  margin-bottom: 25px;
  text-align: center;
  display: contents;
}

.balao-skill {
  width: max-content;
  background-color: var(--amarelo-padrao);
  padding: 0px 14px;
  height: 30px;
  border-radius: 20px;
}

.balao-skill p {
  font-family: "nunito-italic";
  font-size: 14px;
  color: var(--branco-padrao);
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
}

.balao-skill button {
  font-family: "nunito";
  font-size: 16px;
  margin-top: 3px;
  color: var(--branco-padrao) !important;
  display: flex;
  align-items: center;
  margin-bottom: 2.5px;
  background-color: transparent;
  border: 0;
}

.balao-skill button:focus {
  outline: 0;
}

.skills {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.removeCandidatarBtn {
  background-color: transparent;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  height: 55px;
  border: 0;
  background-color: var(--roxo-padrao);
  border-bottom: 2px solid var(--roxo-padrao);
  border-radius: 28px;
  color: var(--branco-padrao);
  font: 'Nunito';
  font-weight: bold;
  font-size: 16pt;
}

.candidatarBtn {
  background-color: transparent;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  height: 55px;
  border: 0;
  background-color: var(--amarelo-padrao);
  border-bottom: 2px solid var(--amarelo-padrao);
  border-radius: 28px;
  color: var(--branco-padrao);
  font: 'Nunito';
  font-weight: bold;
  font-size: 16pt;
}

.cardForVagaExpandida {
  width: 85%;
  height: 350px;
  background-color: #c4c4c4;
  border-radius: 20px;
}

.listaVagaExpandida {
  margin-left: 20px;
}

.listaVagaExpandida li::marker{
  color: var(--amarelo-padrao);
  font-size: 22pt;
}

.listaInfosVagaExpandida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnSaveCurriculum, .btnUpdateCurriculum {
  height: 60px;
  width: 80%;
  border-radius: 30px;
  background-color: var(--amarelo-padrao);
  color: white;
  border: 0px;
  font-size: 18pt;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'nunito';
  line-height: auto;
}

.btnSaveCurriculum:hover, .btnUpdateCurriculum:hover {
  background-color: var(--amarelo-hover);
}


.alertContainer {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  display: none;
}

.alertDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 78%;
  height: 40px;
  border-radius: 12px;
  gap: 5px;
  color: white;
}

.listFilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.searchIcon {
  position: absolute;
  margin-left: -165px;
}

.inputSearchHubVagas {
  background-color: var(--cinza-fundo);
  height: 40px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  padding-left: 45px;
  font-family: 'nunito';
  color: var(--roxo-padrao);
}

.inputSearchHubVagas::placeholder {
  font-family: 'nunito';
  color: var(--roxo-padrao);
}

.btnForFiltrarIcon {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.btnForFiltrarIcon:focus {
  outline: 0;
  border: 0;
  background-color: transparent;
}

/* Início HubVagasComponent */
.divRightHubVagasComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.divRightHubVagasComponent p {
  text-align: start;
}

.divRightHubVagasComponent p img {
  padding-right: 10px;
}

.imgHubVagas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainWidGet {
  height: 100%;
  display: flex;
  align-content: center;
  padding: 10px;
}

.pForHubVagas {
  font-size: 12pt;
  height: 20px;
}

.nomeVagaHubVagas {
  font-size: 13pt;
  height: 50px;
  margin-bottom: 0px;
  text-align: start;
}

.divBtnSeeMore {
  display: flex;
  justify-content: flex-end;
}

.vagaComponent {
  width: 90%;
  height: max-content;
  background-color: var(--cinza-fundo);
  border-radius: 10px;
}

.bodyVagaComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  margin-top: 40px;
}

.btnSeeMore {
  background-color: var(--amarelo-padrao);
  height: 25px;
  width: 85px;
  border-radius: 22px;
  font-size: 10pt;
  color: var(--branco-padrao);
  border: 0px;
  outline: 0px;
  margin-right: 10px;
}

.btnSeeMore:hover {
  background-color: var(--amarelo-hover);
}

.btnSeeMore:focus {
  outline: 0;
}

.bodyHubVagas {
  margin-bottom: 150px;
}

.bodyFiltersHubVagas {
  padding: 15px;
  background-color: #AAAAAA;
  width: 60%;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  display: none;
  justify-content: center;
  align-content: center;
}

/* Fim HubVagas */

.bodygeralcadastrarvagas {
  box-sizing: border-box;
}

.bodycadastrarvagas {
  font-family: "nunito";
}

.containercadastrarvagas {
  width: 100%;
  margin: 50px auto;
}

.inputBoxcadastrarvagas {
  margin-bottom: 20px;
}

.labelcadastrarvagas {
  display: inline-block;
  margin-bottom: 5px;
  color: #530084;
  border-bottom: 2px solid gold;

}

.inputcadastrarvagas {
  width: 100%;
  padding: 10px 20px;
  background-color: #EFEFEF;
  color: #530084;
  border: none;
  border-radius: 15px;
  font-family: "nunito";
  font-size: 12pt;
}

.inputcadastrarvagas::placeholder {
  color: #530084;
}

.button {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  background-color: var(--amarelo-padrao);
  border: none;
  border-radius: 15px;
  color: white;
  font-family: "nunito";
}

/* Style ADM  vaga cadastro*/

.newUserButtonADM {
  width: 80%;
  height: 45px;
  border-radius: 23px;
  background-color: var(--amarelo-padrao);
  font-family: "Nunito";
  color: var(--branco-padrao);
  border-color: var(--amarelo-padrao);
  border: 0;
  font-size: 18pt;
}

.newUserButtonADM:hover {
  outline: 0;
  background-color: var(--amarelo-hover);
}

.newUserButtonADM:focus {
  outline: 0;
}

.newCompanyADM {
  width: 80%;
  height: 45px;
  border-radius: 23px;
  background-color: var(--roxo-padrao);
  font-family: "Nunito";
  color: var(--branco-padrao);
  border-color: var(--roxo-padrao);
  border: 0;
  font-size: 18pt;
  margin-top: 1%;
}

.newCompanyADM:hover {
  outline: 0;
  background-color: var(--roxo-hover);
}

.newCompanyADM:focus {
  outline: 0;
}

.span-login {
  float: left;
}

.space {
  margin-top: 50px;
}

.back-input {
  background: var(--cinza-fundo);
  margin-left: 8%;
  margin-right: 8%;
}

input::placeholder {
  color: var(--roxo-padrao) !important;
  font-family: 'nunito-italic';
  src: url('../fonts/Nunito-Italic.ttf');
}

/* Início Filtro Hub Vagas */

.btnForFiltroHubVagas {
  text-align: end;
}

.titleFiltroHubVagas {
  text-align: center;
}

.btnForFiltro {
  width: 160px;
  height: 50px;
  background-color: var(--amarelo-padrao);
  border-radius: 12px;
  border: 0;
  outline: 0;
  color: var(--branco-padrao);
  font-family: 'nunito-bold';
  font-size: 12pt;
}

.btnForFiltro:hover {
  background-color: var(--amarelo-hover);
  outline: 0;
}

.btnForFiltro:focus {
  background-color: var(--amarelo-hover);
  outline: 0;
}

.btnToCloseFilter {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.btnToCloseFilter:hover {
  outline: 0;
}

.btnToCloseFilter:focus {
  outline: 0;
}

.btnToApplyFiltro {
  width: 380px;
  background-color: var(--roxo-padrao);
  height: 45px;
  border: 0;
  border-radius: 8px;
  color: var(--branco-padrao);
  font-family: 'nunito-bold';
  margin-top: 60px;
}

.btnToApplyFiltro:hover {
  outline: 0;
  background-color: var(--roxo-hover);
}

.btnToApplyFiltro:focus {
  outline: 0;
  background-color: var(--roxo-hover);
}

/* Fim Filtro Hub Vagas */

/*Perfil*/
.imgBox {
  margin-top: 20px;
  width: 100%;
  background-color: var(--cinza-claro-fundo);
  min-height: 160px;
  max-height: 500px;
  border-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.imgPerfil {
  width: 100%;
  max-width: 260px;
  border-radius: 10%;
  align-items: center;
  border-radius: 50px;
}

.descricao {
  margin-top: 20px;
  width: max-content;
  font-family: 'Nunito';
}

.imgBxIcon {
  margin-left: auto;
  font-size: 30px;
  margin-top: 22px;
  width: max-content;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.fa-edit, .fa-map-marker, .fa-building {
  color: var(--amarelo-padrao);
  font-size: 25px;
  margin-right: 15px;
}

.fa-sliders, .fa-times {
  color: var(--amarelo-padrao);
  font-size: 30px;

}

.fa-times {
  margin-top: 10px;
}

.briefcase-yellow, .info-circle-yellow {
  color: var(--amarelo-padrao);
  font-size: 20px;
  margin-right: 10px;
  margin-left: 0 !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.textPerfil {
  text-align: justify;
}

.labeleditarvagas {
  display: inline-block;
  margin-bottom: 5px;
  color: #530084;
  border-bottom: 2px solid gold;
  margin: 20px;
  text-align: justify;

}

.inputeditarvagas {
  width: 100%;
  padding: 10px 20px;
  background-color: #EFEFEF;
  color: #530084;
  border: none;
  border-radius: 15px;
  font-family: "nunito";
  font-size: 12pt;
  border: 2px solid var(--roxo-padrao);
}

.inputeditarvagas:focus {
  border: 2px solid var(--amarelo-padrao);
}

.fundoBotao {
  background-color: transparent;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 170px;
  height: 45px;
  border: 0;
  border-bottom: 5px solid var(--amarelo-padrao);
  border-radius: 4px;
}

.fundoBotao:hover {
  border-bottom: 5px solid var(--amarelo-hover);
}

.editarCurriculo {
  margin: 20px;
}

.excluirPerfil {
  font-size: 12pt;
}

/* Fim perfil*/

/* Início Login */

.inputLogin {
  height: 50px;
  border-radius: 12px;
  width: 80%;
  border: 2px solid var(--roxo-padrao);
  padding-left: 20px;
  font-family: 'Nunito';
  background-color: var(--cinza-claro-fundo);
}

.checkbox {
  width: 15px;
  height: 15px;
}

.asterisco {
  color: var(--amarelo-padrao);
}

.inputLogin::placeholder {
  font-family: 'Nunito';
}

.inputLogin:focus {
  border: 2px solid var(--amarelo-padrao);
}

.connectedSpan {
  font-size: 10pt;
}

.forgetSpan {
  font-size: 11pt;
}

.divOptionsLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

.linkForgetPassword {
  list-style: none;
  text-decoration: none;
  outline: 0;
  color: var(--roxo-padrao);
  margin-right: 15px;
}

.linkForgetPassword:hover {
  color: var(--roxo-hover);
}

.btnEntrarLogin {
  width: 80%;
  height: 50px;
  background-color: var(--amarelo-padrao);
  outline: 0;
  border: 0px;
  border-radius: 23px;
  color: var(--branco-padrao);
  font-family: 'Nunito';
}

.btnEntrarLogin:hover {
  outline: 0;
  background-color: var(--amarelo-hover);
}

.lineForLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#numberInput::-webkit-outer-spin-button,
#numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}